/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: transparent;
  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  padding: 0;
}


.slick-prev:hover,
.slick-next:hover
{
  color: #000;
  outline: none;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
  opacity: 1;
  content: url("../icons/right-chevron.svg") !important;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-size: 20px;
/*   line-height: 1; */
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 3px;
}

.slick-prev
{
  left: 0;
  z-index: 2;
  -webkit-transform: rotateY(180deg) translate(0, -50%);
  -ms-transform: rotateY(180deg) translate(0, -50%);
  transform: rotateY(180deg) translate(0, -50%);
}
[dir='rtl'] .slick-prev
{
  right: -62px;
  left: auto;
}
.slick-prev:before
{
  content: url("../icons/right-chevron.svg");
}

.testimonials .slick-list{
  padding-right: 100px;
  padding-left: 44vw;
}

.testimonials .slick-prev, .testimonials .slick-next {
  top: auto;
    height: 8px;
    width: 14px;
    bottom: -148px;
}

.testimonials .slick-prev {
  left: 44%;
}

.testimonials .slick-next {
  right: 44%;
}


[dir='rtl'] .slick-prev:before
{
  content: url("../icons/right-chevron.svg");
}

.slick-next
{
  right: 0;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -62px;
}

.slick-next:before
{
  content: url("../icons/right-chevron.svg");
}
[dir='rtl'] .slick-next:before
{
  content: url("../icons/right-chevron.svg");
  -webkit-transform: rotateY(180deg) translate(0, -50%);
  -ms-transform: rotateY(180deg) translate(0, -50%);
  transform: rotateY(180deg) translate(0, -50%);
}



[dir='rtl'] .product-info-left .slick-next:before
{
  content: url("../icons/right-chevron.svg");
  -webkit-transform: rotateY(180deg) translate(0, -50%);
  -ms-transform: rotateY(180deg) translate(0, -50%);
  transform: rotateY(180deg) translate(0, -50%);
}

/* Dots */

.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.testimonials.slick-dotted.slick-slider
{
  margin-bottom: 130px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
  height: 2px;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 0 8px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 12px;
  height: 12px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  transition: .4s ease;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 2px;

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 8px;

  content: '';
  text-align: center;

  opacity: 1;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
    border: 2px solid;
  transition: all .4s ease;
  border-radius: 50%;
}

.slick-dots li.slick-active
{
  width: 12px !important;
}
.slick-dots li.slick-active button
{
  width: 12px !important;
  margin-top: 2px;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  color: white;
  height: 12px;
  width: 12px !important;
  border: 2px solid;
  background-color: #38493D;
  /* transition: .4s ease; */
}
.slider-for {
  margin-bottom: 16px;
}
.slider-for .slick-track {
  display: flex;
}
.slider-for img {
  align-self: center;
  border-radius: 4px;
  height: 500px;
  object-fit: contain;
}

.slider-nav {
  margin: 0 -12px 0 -14px;
}

.slider-nav:not(.slick-initialized) {
  display: flex;
}
.slider-nav .slick-track {
  margin-left: 0;
}
.slider-nav img {
  height: 81px;
  display: block;
  /*   margin-right: 24px; */
  margin: 0 12px;
  border-radius: 4px;
  cursor: pointer;
  object-fit: cover;
}
.slider-nav img.slick-slide.slick-current {
  box-shadow: inset 0 0 0pt 2pt #1E2D51 !important;
  /*   padding: 2px; */
  border-radius: 4px;
}
.no-transform .slick-track {
  transform: none !important;
}

.product-imgs {
    visibility: hidden;
}

.product-imgs.slick-initialized {
    visibility: visible;
}






@media (min-width: 561px) {
  .testimonial-carousel .slick-prev, .testimonial-carousel .slick-next {
    /* top: calc( 50% + 32px); */
  }
}
@media (max-width: 991px) {
  .slider-for img {
    height: 422px;
  }
  .slider-nav .slick-track {
    width: 100% !important;
  }
}
@media (max-width: 560px) {
  .slick-prev, .slick-next {
    top: auto;
    bottom: -48px;
    width: 32px;
    height: 32px;
  }
  .slick-next {
    right: 15%;
  }
  .slick-prev {
    left: 15%;
  }
  .slider-nav img.slick-slide {
    width: calc(22% - 5px) !important;
    height: 81px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .slider-nav img.slick-slide:nth-child(4) {
    margin-right: 0;
  }
  .slider-for img {
    height: 216px;
  }
}

.instagram-section .slick-initialized .slick-slide {
    padding: 6px;
}

.instagram-section .slick-list {
  /* width: 90%; */
    margin: 0 auto;
    padding-right: 80px;
    max-width: 994px;
}

.product-imgs img {
  border-radius: 8px;
    object-fit: cover;
    height: 33vw;
}

.banner-text-outer .slick-slide{
  width: auto !important;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .testimonials .slick-list {
    padding-right: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
}

.testimonials .slick-prev, .testimonials .slick-next {
    top: 151%;
}

.testimonials .slick-prev {
    left: 44%;
}

.testimonials .slick-next {
    right: 44%;
}
}

@media (max-width: 913px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 150%;
}
}

@media (max-width: 788px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 145%;
}
}

@media (max-width: 618px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 142%;
}
}

@media (max-width: 608px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 142%;
}
}

@media (max-width: 515px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 142%;
}

.testimonials .slick-prev {
    left: 42%;
}

.testimonials .slick-next {
    right: 42%;
}
}

@media (max-width: 501px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 139%;
}
}


@media (max-width: 424px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 138%;
}
}


@media (max-width: 411px) {

/* .testimonials .slick-prev, .testimonials .slick-next {
    top: 142%;
} */

.testimonials .slick-prev {
    left: 41%;
}

.testimonials .slick-next {
    right: 41%;
}
}

@media (max-width: 381px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 136%;
}

.testimonials .slick-prev {
    left: 38%;
}

.testimonials .slick-next {
    right: 38%;
}
}

@media (max-width: 366px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 134%;
}
}

@media (max-width: 321px) {

.testimonials .slick-prev, .testimonials .slick-next {
    top: 133%;
}
}
